@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Source+Code+Pro&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

html {
    background-color: rgb(31, 31, 31);
}

h1 {
    color: rgb(236, 158, 197);
    font-size: 64px;
}

.container {
    max-width: 50%;
    margin: 0 auto;
    padding:1%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 40px;

}

.header_icon {
    height: 100px;
}

.text-input {
    width: 100%;
    resize: none;
    padding: 10px;
}

.text-output {
    background-color: rgb(236, 158, 197);
    color: rgb(0, 0, 0);
    padding: 10px;
}